*{
    margin: 0;
    padding: 0;
    font-family: monospace;
}
body{ 
    background-color: #555;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    gap: 30px;
}
#alert{
    color: red;
    font-size: 20px;
}
#range{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    color: white;
}
#input{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 5vw;
    margin-right: 5vw;
}
.input-number{
    height: 50px;
    width: 80px;
    border: none;
    border-radius: 10px;
    transition: .5s;
    font-size: 17px;
    text-align: center;
}
.input-number:hover{
    scale: 1.2;
}
#calc, #download{
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #777;
    color: #fff;
    font-size: 17px;
    transition: .3s;
}
#calc:hover, #download:hover{
    scale: 1.1;
    background-color: #999;
}
#output{
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}
#continer-graphics{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}
#config{
    display: flex;
    gap: 10px;
    justify-content: center;
}
#config input {
    border: none;
    border-radius: 2px;
    background-color: #777;
}
#config select{
    background-color: #777;
    color: white;
}
@media screen and (max-width: 1160px) {
    main{
        height: auto;
    }
}